<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
	    <title>Real Estate Search</title>
	</head>
	<body>
            <% if (typeof(flash) != 'undefined') { %>

            <div class="flash">
                <% for (var type in flash) { %>
                <ul class="<%= type %>">
                    <% flash[type].forEach(function(message) { %>
                    <li>
                        <%= message %>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </div>
            <% } %>
	    <%- body %>
	</body>
</html>
