<% if (object) { form.bind(object) } %>

<form action="/feeds/<%= object ? object.id : '' %>" method="post">
    <% if (object) { %><input type="hidden" name="_method" value="put" /><% } %>
    <%- form.toHTML() %>
    <input type="submit" value="<%= object ? 'Modifier' : 'Créer' %>" /> ou <a href="/feeds/" title="accueil">Revenir à l'accueil</a>
</form>

<% if (object) { %>
<p>
<a href="./delete" title="effacer">Supprimer ce feed</a>
</p>
<% } %>